.bsf-repeater {
    .bsf-repeater__item {
        position: relative;
        margin: 10px 0;

        .repeater-action-btns {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0px;
            max-height: 45px;

            .bsf-repeater__item__action-button {
                border-left: 1px solid #eee;
                height: 100%;

                &:focus:not(:disabled) {
                    box-shadow: none;
                }
            }
        }

        .bsf-repeater__item__panel {
            border: 1px solid #eee;

            .components-panel__body-title {
                .components-button {
                    padding: 14px 48px 14px 16px;

                    &:focus {
                        box-shadow: none;
                    }
                }

                svg {
                    display: none;
                }
            }

            &.is-opened {
                .components-button {
                    &:not(.components-circular-option-picker__clear, .bsf-icon-picker-remove-icon) {
                        border-bottom: 1px solid #eee;
                    }
                }
            }

        }
    }

    &__add-button {
        margin-left: 72px;
        margin-bottom: 10px;
        padding: 7px 19px 7px 12px !important;
        background: #fff !important;

        &:focus:not(:disabled) {
            box-shadow: none !important;
        }
    }
}

.bsf-selector-button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px !important;

    .bsf-selector-button {
        flex: 1;
        justify-content: center !important;
        align-items: center !important;
        background-color: #000000;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        padding: 8px 12px;
        font-size: 14px;
        cursor: default;
        transition: all 0.3s ease-in-out;

        &:focus:not(:disabled) {
            box-shadow: none !important;
            outline: none;
        }

        &:hover {
            background-color: #333333 !important;
            color: #ffffff !important;
        }
    }

    .bsf-selector-add-button-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .bsf-selector-add-button {
            color: #ffffff;
            font-size: 12px;
            font-weight: 400;
            border: none;
            background-color: #000000;
            border-radius: 2px;
            padding: 2px 10px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);

            &:hover {
                background-color: #333333;
                color: #ffffff;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            }
        }
    }
}